/* Tomorrow Night Theme */
/* https://github.com/jmblog/color-themes-for-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* https://github.com/jmblog/color-themes-for-highlightjs */

.hljs-comment {
  color: #969896;
}

.hljs-variable,
.hljs-attribute,
.hljs-attr,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c5c8c6;
}

.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #c5c8c6;
}

.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #c5c8c6;
}

.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #c5c8c6;
}

.hljs-name {
  color: #c5c8c6;
}

.hljs-title,
.hljs-section,
.css .hljs-hexcolor {
  color: #c5c8c6;
}

.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #c5c8c6;
}

.hljs-keyword,
.javascript .hljs-function {
  color: #c5c8c6;
}

.hljs {
  display: block;
  overflow-x: auto;
  color: #c5c8c6;
}

pre > .hljs {
  background: #373737;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

.hljs-addition {
  color: #718c00;
}

.hljs-deletion {
  color: #c82829;
}